.main-content {

    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.crud-container {

    width: 60%;
    padding: 2rem 3rem;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;

}

.crud-header {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 1rem 2rem;
    border-bottom: 1px solid;
}

.crud-container h1 {
    font-weight: bold;
    font-size: 24px;
}

.button span {
    margin-left: 10px;
}

.button-is-danger {
    align-items: right;
}


