{% extends "layout.html" %}

{% block content %}

<div class="service-item">
    <div class="service py-2 px-2">
        <nav aria-label="breadcrumb px-5">
            <ol class="breadcrumb px-3">

                <li class="breadcrumb-item btn-ir-home"><a href="/admin/home">Sistema Administrativo</a></li>
                <li class="breadcrumb-item"><a href="/admin/users">Usuarios</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editar Usuario</li>
            </ol>
        </nav>
    </div>
</div>
<!-- main -->
<section class="vh-50 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h3 class="mb-3">Datos del Usuario </h3>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-6 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form id="form-dataContact" class="row g-3">
                                    <p>Por favor complete toda la información de su perfil:</p>
                                    <div class="form-outline mb-1">
                                      <label>identificacion<span class="text-danger">*</span></label>
                                      <input type="text" id="identificacion" class="form-control" readonly placeholder="identificacion"
                                          required="required">
                                    </div>
                                    <div class="form-outline mb-1">
                                        <label>Rol<span></span></label>
                                        <select name="rol " id="rol" class="form-control" required>
                                        </select>
                                    </div>
                                    <div class="form-outline mb-1">
                                        <label>Estado<span></span></label>
                                        <select name="estado" id="estado" class="form-control" required>
                                            <option value="activo">Activo</option>
                                            <option value="inactivo">Inactivo</option>
                                        </select>
                                    </div>
                                    <div class="form-outline mb-1">
                                        <label>Primer Nombre <span class="text-danger">*</span></label>
                                        <input type="text" id="nombre1" class="form-control" placeholder="Primer Nombre"
                                            required="required">
                                    </div>
                                    <div class="form-outline mb-1">
                                        <label>Segundo Nombre<span></span></label>
                                        <input type="text" id="nombre2" class="form-control"
                                            placeholder="Segundo Nombre" required="required">
                                    </div>
                                    <div class="form-outline mb-1">
                                        <label>Primer Apellido <span class="text-danger">*</span></label>
                                        <input type="text" id="apellido1" class="form-control"
                                            placeholder="Primer Apellido" required="required">
                                    </div>
                                    <div class="form-outline mb-1">
                                        <label>Segundo Apellido<span></span></label>
                                        <input type="text" id="apellido2" class="form-control"
                                            placeholder="Segundo Apellido" required="required">
                                    </div>
                                    <div class="form-outline mb-1">
                                        <label>Fecha de nacimiento<span class="text-danger">*</span></label>
                                        <input type="date" id="fechaNacimiento" class="form-control"
                                            placeholder="Segundo Nombre" required="required">
                                    </div>
                                    <div class="form-outline mb-1">
                                        <label class="form-label">Celular <span class="text-danger"
                                                for="celular">*</label>
                                        <input type="number" id="celular" maxlength="10" minlength="10" class="form-control bg-transparent p-6"
                                            placeholder="Celular" required>
                                    </div>
                                    <div class="form-outline mb-1">
                                        <label class="form-label">Correo <span class="text-danger"
                                                for="correo">*</label>
                                        <input type="email" id="correo" class="form-control bg-transparent p-6"
                                            placeholder="Correo" required>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" id="btn-dataContact"
                                            class="btn btn-success px-4 float-end" value="actualizar">Actualizar</button>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}

<script type="text/javascript">

$(document).ready(function () {

    // Cargar los roles para mostrarlos en el selector
    $.ajax({
        type: "GET",
        url: "http://127.0.0.1:5000/api/settings?tipo=tipoRol",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        async: true,
        success: function (response) {

            const registros = response;
            let content = "<option value=''>Seleccione..</option>";

            for (const key in registros) {
                if (Object.hasOwnProperty.call(registros, key)) {
                    const elemento = registros[key];
                    content += "<option value='" + key + "'>" + elemento.nombre + "</option>";
                }
            }
            $("#rol").html(content);
        },
        error: function (response) {
            console.log(response.responseJSON.message);
        }
    });

    // Realizar la solicitud AJAX para obtener los datos del usuario seleccionado
    $.ajax({
        type: "GET",
        url: "http://127.0.0.1:5000/api/users/{{identificacion}}",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        async: true,
        success: function (response) {
            // Rellenar los campos del formulario con los datos del usuario seleccionado
            $("#identificacion").val(response.identificacion);
            $("#rol").val(response.rol);
            $("#estado").val(response.estado || "activo");
            $("#nombre1").val(response.nombre1);
            $('#nombre2').val(response.nombre2);
            $("#apellido1").val(response.apellido1);
            $("#apellido2").val(response.apellido2);
            $("#fechaNacimiento").val(response.fechaNacimiento);
            $("#celular").val(response.celular);
            $("#correo").val(response.correo);
        },
        error: function (response) {
            bootbox.alert(response.responseJSON.message);
        }
    });

    // Código para recolectar la data y enviarla al API para actualizar el usuario
    $("#form-dataContact").submit(function (evento) {
        evento.preventDefault();

        // Deshabilitar el botón de actualizar y cambiar su texto
        $("#btn-dataContact").attr("disabled", true);
        $("#btn-dataContact").html("Espere..");

        // Obtener los valores de los campos de entrada
        const rol = $("#rol").val();
        const estado = $("#estado").val();
        const nombre1 = $("#nombre1").val();
        const nombre2 = $('#nombre2').val();
        const apellido1 = $("#apellido1").val();
        const apellido2 = $("#apellido2").val();
        const fechaNacimiento = $("#fechaNacimiento").val();
        const celular = $("#celular").val();
        const correo = $("#correo").val();

        // Construir el objeto de datos para enviar al API
        const data = JSON.stringify({
            identificacion: identificacion, // Usar la identificación del usuario seleccionado
            rol: rol,
            estado: estado,
            nombre1: nombre1,
            nombre2: nombre2,
            apellido1: apellido1,
            apellido2: apellido2,
            fechaNacimiento: fechaNacimiento,
            celular: celular,
            correo: correo
        });

        // Realizar la solicitud AJAX para actualizar los datos del usuario
        $.ajax({
            type: "PUT",
            url: "http://127.0.0.1:5000/api/users/{{identificacion}}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            async: true,
            data: data,
            success: function (response) {
                console.log(response);
                window.location.href = "/admin/users";
            },
            error: function (response) {
                bootbox.alert(response.responseJSON.message);

                // Habilitar nuevamente el botón de actualizar
                $("#btn-dataContact").attr("disabled", false);
                $("#btn-dataContact").html("Actualizar");
            }
        });
    });
});

    
</script>
 
{% endblock %} 