{% extends "layout.html" %}

{% block content %}
<div class="card">
	<div class="card-header">
		Sistema administrativo
		<div class="card-body">
			<div class="card-footer">

				<div class="row">
					<div class="col-sm-6">
						<div class="card">
							<div class="card-body">
								<center>
									<i class="fa fa-home"></i>
									<p class="card text-center">Casas registradas</p>
									<a href="/admin/houses" class="btn btn-success" style="position: static;">Ver Casas</a>
								</center>
							</div>
						</div>
					</div>
					
					<div class="card w-50">
						<div class="card-body">
							<center>
								<i class="fa fa-plug"></i>
								<p class="card text-center">Tomacorrientes</p>
								<a href="#" class="btn btn-success">Ver Tomacorrientes</a>
							</center>
						</div>
					</div>


					<div class="col-sm-6">
						<div class="card">
							<div class="card-body">
								<center>
									<i class="fa fa-users"></i>
									<p class="card text-center">Usuarios registrados</p>
									<a href="/admin/users" class="btn btn-success">Ver Usuarios</a>
								</center>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}