{% extends "layout.html" %}

{% block content %}
<div class="card">
	<div class="card-header">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page"><a href="#">Sistema Administrativo</a></li>
			</ol>
		</nav>
		<div class="card-body">
			<div class="card-footer">

				<div class="row">
					<div class="col-sm-6">
						<div class="card mb-3">
							<div class="card-body">
								<center>
									<i class="fa fa-home"></i>
									<p class="card text-center">Casas registradas</p>
									<a href="/admin/houses" class="btn btn-success" style="position: static;">Ver Casas</a>
								</center>
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="card mb-3">
							<div class="card-body">
								<center>
									<i class="fa fa-users"></i>
									<p class="card text-center">Usuarios registrados</p>
									<a href="/admin/users" class="btn btn-success">Ver Usuarios</a>
								</center>
							</div>
						</div>

					</div>

					<div class="col-sm-6">
						<div class="card mb-3">
							<div class="card-body">
								<center>
									<i class="fa fa-cogs"></i>
									<p class="card text-center">Configuraciones</p>
									<a href="/admin/settings" class="btn btn-success">Ver Configuraciones</a>
								</center>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}