{% extends "layout.html" %}

{% block content %}
<section class="vh-50 bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h3 class="mb-3">Crear una nueva casa</h3>
        <div class="bg-white shadow rounded">
          <div class="row">
            <div class="col-md-7 pe-0">
              <div class="form-left h-100 py-5 px-5">
                <form  id="formulario-newhome"class="row g-4">
                  <div class="col-12">
                    <label>Nombre de la casa<span class="text-danger" for="nombreCasa">*</span></label>
                    <input type="text" id="nombreCasa"class="form-control" placeholder="Ingrese el nombre con el que desea llamar su casa" required="required" >
                  </div>
                  <div class="col-12">
                    <label>Tipo de casa<span class="text-danger" for="tipoCasa">*</span></label>     
                    <select class="form-control" id="tipoCasa" name="tipoCasa" required>
                      <option value="">Seleccione un tipo de casa</option>
                      <option value="Apartaestudio">Apartaestudio</option>
                      <option value="Apartamento">Apartamento</option>
                      <option value="Casa">Casa</option>
                      <option value="Finca">Finca</option>
                    </select>                              
                  </div>
                  <div class="col-12">
                    <label for="direccion" class="titulo">Dirección <span class="text-danger" for="direccion">*</span></label>
                    <input type="text" class="form-control" id="direccion" name="direccion" required>
                  </div>
                  <div class="col-md-4">
                    <label for="pais">País<span class="text-danger" for="pais"></span>*</span></label>
                    <select name="pais" id="pais" class="form-control" required>
                      <option value="">Seleccione un país</option>
                      <option value="colombia">Colombia</option>
                      <option value="Apartamento">Ecuador</option>
                    </select>  
                  </div>
                  <div class="col-md-4">
                    <label for="departamento">Departamento <span class="text-danger" for="departamento"></span>*</span></label>
                    <select name="departamento" class="form-control" id="departamento" required>
                      <option value="">Seleccione un departamento</option>
                      <option value="antioquia">Antioquia</option>
                      <option value="Apartamento">Cundinamarca</option>
                    </select>  
                  </div>
                  <div class="col-md-4">
                    <label for="ciudad">Ciudad <span class="text-danger" for="ciudad"></span>*</span></label>
                    <select name="ciudad" class="form-control" id="ciudad" required>
                      <option value="">Seleccione una ciudad</option>
                      <option value="Medellín">Medellín</option>
                      <option value="Bogota">Bogotá</option>
                    </select>  
                  </div>
                  <div class="col-12">
                    <form>
                      <button type="submit" id="btn-addhome" formaction="/templates/layout.html" class="btn btn-primary px-4 float-end mt-4" value="Iniciar sesión">Guardar</button>
                    </form>
                  </div>
                </form>
              </div>
          </div>
          <div class="col-md-5 ps-0 d-none d-md-block">
              <div class="form-right h-100 bg-primary text-white text-center pt-5">
                <i class=""></i>
                <h2 class="fs-1">Agregar Foto</h2>
              </div>
          </div>
      </div>
  </div>
      <p class="text-end text-secondary mt-3"></p>
  </div>
  </div>
  </div>           
</section>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
  $(document).ready(function(){

    $("#formulario-newhome").submit(function(evento){
      evento.preventDefault();

       // Deshabilitamos el botón de guardar y cambiamos su texto
      $("#btn-addhome").attr("disabled", true);
      $("#btn-addhome").html("Espere..");

      

      // Obtenemos los valores de los campos de entrada
      const nombreCasa = $("#nombreCasa").val();
      const tipoCasa = $("#tipoCasa option:selected").val();   
      const direccion = $("#direccion").val();
      const pais = $("#pais option:selected").val();    
      const departamento = $("#departamento option:selected").val();
      const ciudad= $("#ciudad option:selected").val();

    
     
     

      const cedula = 1098313090;

      const data = JSON.stringify({
          
          nombreCasa: nombreCasa,
          tipoCasa: tipocasa,
          direccion: direccion ,
          pais: pais,
          departamento: departamento,
          ciudad: ciudad
        });

        function enviarequest () {
        
        var nombreCasa = document.getElementById("nombreCasa").value;
        var tipoCasa = document.getElementById("tipoCasa").value;
        var direccion = direccion.getElementById("direccion").value;
        var pais = document.getElementById("pais").value;
        var departamento = document.getElementById("departamento").value;
        var ciudad = document.getElementById("ciudad").value;

      }


        $.ajax({
          type: "POST",
          url: "http://127.0.0.1:5000/api/users/cedula/houses",
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          async: true,
          data: {nombreCasa: nombreCasa, tipoCasa: tipoCasa, pais: pais, departamento: departamento, ciudad: ciudad},
          success: function (response) {
            console.log(response);
            window.location.href = "home";
          },
          error: function (response) {
            alert(response.responseJSON.message);

            $("#btn-addhome").attr("disabled", false);
            $("#btn-addhome").html("guardar");
          },
          
        });

    })

  })
</script>

{% endblock %}




 
    

    
</html>