{% extends "layout.html" %}

{% block content %}
<div class="service-item position-relative">
	<nav aria-label="breadcrumb px-5">
		<ol class="breadcrumb px-3">
			<li class="breadcrumb-item btn-ir-home"><a href="/home">Home</a></li>
			<li class="breadcrumb-item"><a href="/detailshome?idCasa={{idCasa}}">{{idCasa}}</a></li>
			<li class="breadcrumb-item"><a href="/detailshome/{{idCasa}}/electrodomesticos">Electrodomesticos</a></li>
			<li class="breadcrumb-item active" aria-current="page">Datos de Consumo</li>
		</ol>
	</nav>

	<div class="service py-4 px-2">
		<h6 class="text-dark e font-weight-medium px-3">Datos de Consumo del Electrodomestico:</h6>
	</div>
</div>

<section class="vh-50 ">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="bg-white shadow rounded">
					<div class="row">
						<div class="col-md-4">
							<div class="form-left h-100 py-5 px-2">
								<form class="row g-4" id="form-edicion-electrodomestico">
									<div class="col-12">
										<h4>Datos Electrodomestico</h4>
										<label>Tipo de Electrodomestico</label>
										<select class="form-control text-small" id="tipoElectrodomestico"
											name="tipoElectrodomestico" disabled>
										</select>
									</div>

									<div class="col-12">
										<label>Tipo de Eficiencia</label>
										<select class="form-control text-small" id="tipoEficiencia"
											name="tipoEficiencia" disabled>
										</select>
									</div>

									<div class="col-12">
										<label>Consumo por mes (kWh / mes)</label>
										<input type="number" class="form-control text-small" id="kwhMes" disabled>
									</div>

									<div class="col-12">
										<label>Tomacorriente Actual</label>
										<select class="form-control text-small" id="tomacorrienteActual"
											name="tomacorrienteActual" disabled>
										</select>
									</div>

									<div class="col-12">
										<label>Estado de Conexion</label>
										<select class="form-control text-small" id="estadoConexion"
											name="estadoConexion" disabled>
											<option value="conectado">Conectado</option>
											<option value="desconectado">Desconectado</option>
										</select>
									</div>

								</form>
							</div>
						</div>
						<div class="col-md-8 container-grafica-1 d-none">
							<div class="col-lg-12">
								<div class="pt-5 pb-2 px-1">
									<canvas id="grafica1"></canvas>
								</div>
								<div class="form-rigth center h-100 pb-5 col-md-12">
									<h4>Calculos - Consumo</h4>
									<table class="table table-condensed text-small">
										<tr>
											<th><label>Consumo por hora (Wh)</label></th>
											<th><label>Tiempo Transcurrido (Horas)</label></th>
											<th><label>Consumo Total (Wh)</label></th>
											<th><label>Potencia Promedio (vatios)</label></th>
											<th><label>Consumo x Potencia Promedio = Consumo Real</label></th>
										</tr>
										<tr>
											<td id="g1watsHora"></td>
											<td id="g1tiempoTranscurrido"></td>
											<td id="g1consumoTotal"></td>
											<td id="g1promedioPotencia"></td>
											<td id="g1consumoPorPotencia"></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="col-md-8  container-grafica-2 d-none">
							<div class="col-lg-12">
								<div class="pt-5 pb-2 px-1">
									<canvas id="grafica2"></canvas>
								</div>
								<div class="form-rigth center h-100 pb-5 col-md-12">
									<h4>Calculos - Consumo</h4>
									<table class="table table-condensed text-small">
										<tr>
											<th><label>Consumo por hora (Wh)</label></th>
											<th><label>Tiempo Transcurrido (Horas)</label></th>
											<th><label>Consumo Total (Wh)</label></th>
											<th><label>Potencia Promedio (vatios)</label></th>
											<th><label>Consumo x Potencia Promedio = Consumo Real</label></th>
										</tr>
										<tr>
											<td id="g2watsHora"></td>
											<td id="g2tiempoTranscurrido"></td>
											<td id="g2consumoTotal"></td>
											<td id="g2promedioPotencia"></td>
											<td id="g2consumoPorPotencia"></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="col-md-8  container-grafica-3 d-none">
							<div class="col-lg-12">
								<div class="pt-5 pb-2 px-1">
									<canvas id="grafica3"></canvas>
								</div>
								<div class="form-rigth center h-100 pb-5 col-md-12">
									<h4>Calculos - Consumo</h4>
									<table class="table table-condensed text-small">
										<tr>
											<th><label>Consumo por hora (Wh)</label></th>
											<th><label>Tiempo Transcurrido (Horas)</label></th>
											<th><label>Consumo Total (Wh)</label></th>
											<th><label>Potencia Promedio (vatios)</label></th>
											<th><label>Consumo x Potencia Promedio = Consumo Real</label></th>
										</tr>
										<tr>
											<td id="g3watsHora"></td>
											<td id="g3tiempoTranscurrido"></td>
											<td id="g3consumoTotal"></td>
											<td id="g3promedioPotencia"></td>
											<td id="g3consumoPorPotencia"></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
<script type="text/javascript" src="/static/js/moment.min.js"></script>

<script type="text/javascript">

	// Validacion de seguridad
	const loggedUser = JSON.parse(localStorage.getItem('user-ecohome'));
	if (loggedUser.rol != "cliente") {
		localStorage.setItem('user-ecohome', null);
		window.location.href = "/";
	}

	let dataElectrodomestico = null;

	const calculosGrafica1 = {};
	const calculosGrafica2 = {};
	const calculosGrafica3 = {};

	// obtenemos la informacion del usuario del local storage
	const usuarioLogueado = JSON.parse(localStorage.getItem('user-ecohome'));
	const identificacion = usuarioLogueado.identificacion;

	$(document).ready(function () {

		//Cargar los tipos de electrodomesticos
		$.ajax({
			type: "GET",
			url: "http://127.0.0.1:5000/api/settings?tipo=tiposElectrodomesticos",
			dataType: "json",
			contentType: "application/json; charset=utf-8",
			async: true,
			success: function (response) {

				const registros = response;
				let content = "<option value=''>Seleccione..</option>";

				for (const key in registros) {
					if (Object.hasOwnProperty.call(registros, key)) {
						const elemento = registros[key];
						content += "<option value='" + key + "'>" + elemento + "</option>";
					}
				}
				$("#tipoElectrodomestico").html(content);
				cargarTiposEficiencia();
			},
			error: function (response) {
				console.log(response.responseJSON.message);
			}
		});

		// Cargar los tipos de eficiencia en el selector
		function cargarTiposEficiencia() {
			$.ajax({
				type: "GET",
				url: "http://127.0.0.1:5000/api/settings?tipo=tiposEficiencia",
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				async: true,
				success: function (response) {

					const registros = response;
					let content = "<option value=''>Seleccione..</option>";

					for (const key in registros) {
						if (Object.hasOwnProperty.call(registros, key)) {
							const elemento = registros[key];
							content += "<option value='" + key + "'>Tipo: " + elemento.nombre + " (Desde " + elemento.limiteInferior + "% hasta " + elemento.limiteSuperior + " %)</option>";
						}
					}
					$("#tipoEficiencia").html(content);
					cargarTomacorrientes();
				},
				error: function (response) {
					console.log(response.responseJSON.message);
				}
			});
		}

		// cargamos los tomacorrientes 
		function cargarTomacorrientes() {
			$.ajax({
				type: "GET",
				url: "http://127.0.0.1:5000/api/users/" + identificacion + "/houses/{{idCasa}}/tomacorrientes",
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				async: true,
				success: function (response) {
					const tomacorrientes = response;

					let content = "<option value=''>Seleccione..</option>";
					let cantidadTomacorrientes = 0;
					let descripcionTomaActual = '';
					for (const key in tomacorrientes) {
						if (Object.hasOwnProperty.call(tomacorrientes, key)) {
							const tomaActual = tomacorrientes[key];
							cantidadTomacorrientes += 1;
							const descripcionToma = "<b>Zona:</b> " + tomaActual.zona + " - <b>Tipo:</b> " + tomaActual.tipo + " " + tomaActual.descripcion;
							content += "<option value='" + key + "'>" + descripcionToma + "</option>";
						}
					}
					$("#tomacorrienteActual").html(content);
					$("#tomacorrienteActual").attr("title", descripcionTomaActual);

					if (cantidadTomacorrientes == 0) {
						$("#sin-tomas").removeClass("d-none");
					}
					cargarTiposElectrodomesticos();
				},
				error: function (response) {
					console.log(response.responseJSON.message);
				}
			});
		}

		// Cargar los tipos de electrodomesticos y despegarlos en el selector
		function cargarTiposElectrodomesticos() {
			$.ajax({
				type: "GET",
				url: "http://127.0.0.1:5000/api/settings?tipo=tiposElectrodomesticos",
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				async: true,
				success: function (response) {

					const registros = response;
					console.log("tipos e", registros);
					let content = "<option value=''>Seleccione..</option>";

					for (const key in registros) {
						if (Object.hasOwnProperty.call(registros, key)) {
							const elemento = registros[key];
							content += "<option value='" + key + "'>" + elemento + "</option>";
						}
					}

					$("#tipoElectrodomestico").html(content);

					cargarElectrodomestico();
				},
				error: function (response) {
					console.log(response.responseJSON.message);
				}
			});
		}

		function cargarElectrodomestico() {
			$.ajax({
				type: "GET",
				url: "http://127.0.0.1:5000/api/users/" + identificacion + "/houses/{{idCasa}}/electrodomesticos/{{idElectrodomestico}}",
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				async: true,
				success: function (response) {

					dataElectrodomestico = response;

					$("#estadoConexion").val(dataElectrodomestico.estadoConexion);
					$('#kwhMes').val(dataElectrodomestico.kwhMes);

					const horasMes = 730;
					const watsMes = dataElectrodomestico.kwhMes * 1000;
					calculosGrafica1.watsHora = (watsMes / horasMes).toFixed(3);
					calculosGrafica2.watsHora = calculosGrafica1.watsHora;
					calculosGrafica3.watsHora = calculosGrafica1.watsHora;
					$("#g1watsHora").html(calculosGrafica1.watsHora);
					$("#g2watsHora").html(calculosGrafica2.watsHora);
					$("#g3watsHora").html(calculosGrafica3.watsHora);

					$("#tipoEficiencia").val(dataElectrodomestico.tipoEficiencia);
					$("#tipoElectrodomestico").val(dataElectrodomestico.tipoElectrodomestico);
					$("#tomacorrienteActual").val(dataElectrodomestico.tomacorrienteActual);

					console.log();
					if (dataElectrodomestico.tipoElectrodomestico == "celular") {
						cargarDataGrafica2();
						$(".container-grafica-2").removeClass("d-none");

					} else if (dataElectrodomestico.tipoElectrodomestico == "computador") {
						cargarDataGrafica3();
						$(".container-grafica-3").removeClass("d-none");
					} else {
						cargarDataGrafica1();
						$(".container-grafica-1").removeClass("d-none");
					}

				},
				error: function (response) {
					console.log(response.responseJSON.message);
				}
			});
		}

		function cargarDataGrafica1() {

			$.ajax({
				type: "GET",
				url: "http://127.0.0.1:5000/api/users/" + identificacion + "/houses/{{idCasa}}/electrodomesticos/{{idElectrodomestico}}/consumo",
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				async: true,
				success: function (response) {
					const dataConsumo = response;
					pintarGrafica1(dataConsumo);
				},
				error: function (response) {
					console.log(response.responseJSON.message);
				}
			});
		}

		function pintarGrafica1(dataConsumo) {

			const etiquetas = [];
			const potencia = [];
			dataConsumo.forEach(element => {
				etiquetas.push(element.fecha);
				potencia.push(element.potencia);
			});

			// sumamos todas las potencias para luego obtener el promedio
			const sumatoria = potencia.reduce(function (a, b) {
				return a + b;
			}, 0);

			calculosGrafica1.promedioPotencia = (sumatoria / potencia.length).toFixed(3);
			$("#g1promedioPotencia").html(calculosGrafica1.promedioPotencia);

			// calculamos la fecha inicial y final para luego obtener la diferencia en horas
			const fecha1 = moment(etiquetas[0], "YYYY-MM-DD HH:mm:ss");
			const fecha2 = moment(etiquetas[etiquetas.length - 1], "YYYY-MM-DD HH:mm:ss");

			calculosGrafica1.tiempoTranscurrido = fecha2.diff(fecha1, 'h'); // Diff in hours
			$("#g1tiempoTranscurrido").html(calculosGrafica1.tiempoTranscurrido);

			// calculamos el consulo total normal multiplicando las horas por el dato de consumo por hora del electrodomestico
			calculosGrafica1.consumoTotal = (calculosGrafica1.tiempoTranscurrido * calculosGrafica1.watsHora).toFixed(3);
			$("#g1consumoTotal").html(calculosGrafica1.consumoTotal);

			// calculamos el consumo acorde al promedio de potencia por hora
			calculosGrafica1.consumoPorPotencia = (calculosGrafica1.consumoTotal * calculosGrafica1.promedioPotencia).toFixed(3);
			$("#g1consumoPorPotencia").html(calculosGrafica1.consumoPorPotencia);

			const datosGrafica1 = {
				label: "Potencia",
				data: potencia,
				backgroundColor: 'rgba(54, 162, 235, 0.2)', // Color de fondo
				borderColor: 'rgba(54, 162, 235, 1)', // Color del borde
				borderWidth: 1,// Ancho del borde
			};

			// Obtener una referencia al elemento canvas del DOM
			const $grafica1 = $("#grafica1");

			new Chart($grafica1, {
				type: 'line',
				data: {
					labels: etiquetas,
					datasets: [
						datosGrafica1,
						// Aquí más datos...
					]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}],
					},
				}
			});
		}

		function cargarDataGrafica2() {

			$.ajax({
				type: "GET",
				url: "http://127.0.0.1:5000/api/users/" + identificacion + "/houses/{{idCasa}}/electrodomesticos/{{idElectrodomestico}}/consumo2",
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				async: true,
				success: function (response) {
					const dataConsumo2 = Object.values(response);
					if (dataConsumo2) {
						const newDataConsumo = dataConsumo2
							.filter(({ datetime, irms, power }) => datetime != undefined && (irms || power))
							.map(({ datetime, irms, power }) => {
								const arrayFechaCompleta = datetime.split(" ");
								const arrayFecha = arrayFechaCompleta[0].split("/");
								const arrayHora = arrayFechaCompleta[1].split(":");

								const fecha = moment(new Date(arrayFecha[2], arrayFecha[1], arrayFecha[0], arrayHora[0], arrayHora[1], arrayHora[2]));
								fecha.add(53, 'years');
								fecha.add(3, 'months');
								fecha.add(25, 'days');

								return {
									fecha: fecha.format("YYYY-MM-DD HH:mm:ss"),
									irms,
									potencia: power
								};
							});
						console.log("dataConsumo2", newDataConsumo)
						pintarGrafica2(newDataConsumo);
					}

				},
				error: function (response) {
					console.log(response.responseJSON.message);
				}
			});
		}

		function pintarGrafica2(dataConsumo) {

			const etiquetas = [];
			const potencia = [];
			const irms = [];
			dataConsumo.forEach(element => {
				etiquetas.push(element.fecha);
				potencia.push(element.potencia);
				irms.push(element.irms);
			});

			// sumamos todas las potencias para luego obtener el promedio
			const sumatoria = potencia.reduce(function (a, b) {
				return a + b;
			}, 0);

			calculosGrafica2.promedioPotencia = (sumatoria / potencia.length).toFixed(3);
			$("#g2promedioPotencia").html(calculosGrafica2.promedioPotencia);

			// calculamos la fecha inicial y final para luego obtener la diferencia en horas
			const fecha1 = moment(etiquetas[0], "YYYY-MM-DD HH:mm:ss");
			const fecha2 = moment(etiquetas[etiquetas.length - 1], "YYYY-MM-DD HH:mm:ss");

			calculosGrafica2.tiempoTranscurrido = fecha2.diff(fecha1, 'h'); // Diff in hours
			$("#g2tiempoTranscurrido").html(calculosGrafica2.tiempoTranscurrido);

			// calculamos el consulo total normal multiplicando las horas por el dato de consumo por hora del electrodomestico
			calculosGrafica2.consumoTotal = (calculosGrafica2.tiempoTranscurrido * calculosGrafica2.watsHora).toFixed(3);
			$("#g2consumoTotal").html(calculosGrafica2.consumoTotal);

			// calculamos el consumo acorde al promedio de potencia por hora
			calculosGrafica2.consumoPorPotencia = (calculosGrafica2.consumoTotal * calculosGrafica2.promedioPotencia).toFixed(3);
			$("#g2consumoPorPotencia").html(calculosGrafica2.consumoPorPotencia);

			const datosPotenciaGrafica2 = {
				label: "Potencia",
				data: potencia,
				backgroundColor: 'rgba(54, 162, 235, 0.2)', // Color de fondo
				borderColor: 'rgba(54, 162, 235, 1)', // Color del borde
				borderWidth: 1,// Ancho del borde
			};

			const datosIrmsGrafica2 = {
				label: "IRMS",
				data: irms,
				backgroundColor: 'rgba(34, 62, 135, 0.3)', // Color de fondo
				borderColor: 'rgba(34, 62, 135, 1)', // Color del borde
				borderWidth: 1,// Ancho del borde
			};

			// Obtener una referencia al elemento canvas del DOM
			const $grafica2 = $("#grafica2");

			new Chart($grafica2, {
				type: 'line',
				data: {
					labels: etiquetas,
					datasets: [
						datosPotenciaGrafica2,
						datosIrmsGrafica2
						// Aquí más datos...
					]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}],
					},
				}
			});
		}
		
		function cargarDataGrafica3() {

			$.ajax({
				type: "GET",
				url: "http://127.0.0.1:5000/api/users/" + identificacion + "/houses/{{idCasa}}/electrodomesticos/{{idElectrodomestico}}/consumo3",
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				async: true,
				success: function (response) {
					const dataConsumo3 = Object.values(response);
					if (dataConsumo3) {
						const newDataConsumo = dataConsumo3
							.filter(({ datetime, irms, power }) => datetime != undefined && (irms || power))
							.map(({ datetime, irms, power }) => {
								const arrayFechaCompleta = datetime.split(" ");
								const arrayFecha = arrayFechaCompleta[0].split("/");
								const arrayHora = arrayFechaCompleta[1].split(":");

								const fecha = moment(new Date(arrayFecha[2], arrayFecha[1], arrayFecha[0], arrayHora[0], arrayHora[1], arrayHora[2]));
								fecha.add(53, 'years');
								fecha.add(3, 'months');
								fecha.add(25, 'days');

								return {
									fecha: fecha.format("YYYY-MM-DD HH:mm:ss"),
									irms,
									potencia: power
								};
							});
						console.log("dataConsumo3", newDataConsumo)
						pintarGrafica3(newDataConsumo);
					}

				},
				error: function (response) {
					console.log(response.responseJSON.message);
				}
			});
		}

		function pintarGrafica3(dataConsumo) {

			const etiquetas = [];
			const potencia = [];
			const irms = [];
			dataConsumo.forEach(element => {
				etiquetas.push(element.fecha);
				potencia.push(element.potencia);
				irms.push(element.irms);
			});

			// sumamos todas las potencias para luego obtener el promedio
			const sumatoria = potencia.reduce(function (a, b) {
				return a + b;
			}, 0);

			calculosGrafica3.promedioPotencia = (sumatoria / potencia.length).toFixed(3);
			$("#g3promedioPotencia").html(calculosGrafica3.promedioPotencia);

			// calculamos la fecha inicial y final para luego obtener la diferencia en horas
			const fecha1 = moment(etiquetas[0], "YYYY-MM-DD HH:mm:ss");
			const fecha2 = moment(etiquetas[etiquetas.length - 1], "YYYY-MM-DD HH:mm:ss");

			calculosGrafica3.tiempoTranscurrido = fecha2.diff(fecha1, 'h'); // Diff in hours
			$("#g3tiempoTranscurrido").html(calculosGrafica3.tiempoTranscurrido);

			// calculamos el consulo total normal multiplicando las horas por el dato de consumo por hora del electrodomestico
			calculosGrafica3.consumoTotal = (calculosGrafica3.tiempoTranscurrido * calculosGrafica3.watsHora).toFixed(3);
			$("#g3consumoTotal").html(calculosGrafica3.consumoTotal);

			// calculamos el consumo acorde al promedio de potencia por hora
			calculosGrafica3.consumoPorPotencia = (calculosGrafica3.consumoTotal * calculosGrafica3.promedioPotencia).toFixed(3);
			$("#g3consumoPorPotencia").html(calculosGrafica3.consumoPorPotencia);

			const datosPotenciaGrafica3 = {
				label: "Potencia",
				data: potencia,
				backgroundColor: 'rgba(54, 162, 235, 0.2)', // Color de fondo
				borderColor: 'rgba(54, 162, 235, 1)', // Color del borde
				borderWidth: 1,// Ancho del borde
			};

			const datosIrmsGrafica3 = {
				label: "IRMS",
				data: irms,
				backgroundColor: 'rgba(34, 62, 135, 0.3)', // Color de fondo
				borderColor: 'rgba(34, 62, 135, 1)', // Color del borde
				borderWidth: 1,// Ancho del borde
			};

			// Obtener una referencia al elemento canvas del DOM
			const $grafica3 = $("#grafica3");

			new Chart($grafica3, {
				type: 'line',
				data: {
					labels: etiquetas,
					datasets: [
						datosPotenciaGrafica3,
						datosIrmsGrafica3
						// Aquí más datos...
					]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}],
					},
				}
			});
		}
	});

</script>
{% endblock %}








</body>

</html>