{% extends "layout.html" %}

{% block content %}


<!-- main -->
<section class="vh-50 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h3 class="mb-3">Datos de Contacto</h3>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form action="" class="row g-4">
                                    <p>Por favor complete toda la informacion de su perfil:</p>

                                    <div class="form-outline mb-2">
                                        <label>Primer Nombre <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" placeholder="Primer Nombre"
                                            required="required">
                                    </div>

                                    <div class="form-outline mb-2">
                                        <label>Segundo Nombre<span></span></label>
                                        <input type="text" class="form-control" placeholder="Segundo Nombre"
                                            required="required">
                                    </div>
                                

                                    <div class="form-outline mb-2">
                                        <label>Primer Apellido <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" placeholder="Primer Apellido"
                                            required="required">
                                    </div>

                                    <div class="form-outline mb-2">
                                        <label>Segundo Apellido<span></span></label>
                                        <input type="text" class="form-control" placeholder="Segundo Apellido"
                                            required="required">
                                    </div>

                                    <div class="form-outline mb-2">
                                        <label>Fecha de nacimiento<span class="text-danger">*</span></label>
                                        <input type="number" class="form-control" placeholder="Segundo Nombre"
                                            required="required">
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label  class="form-label" >Correo <span class="text-danger" for="campo-correo">*</label>
                                        <input type="email" id="campo-correo" class="form-control bg-transparent p-6" placeholder="Correo" required>
                                    </div>
                                </form>
                                <div class="form-outline mb-2">
                                    <button type="submit" class="btn btn-primary px-4 float-end">Guardar</button> 
                                </div>
                            </div>
                            <div class="form-left h-100 py-5 px-5">
                                <div class="form-outline mb-2">
                                    <label>Fecha de nacimiento<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" placeholder="Segundo Nombre"
                                        required="required">
                                </div>

                                <div class="form-outline mb-4">
                                    <label  class="form-label" >Correo <span class="text-danger" for="campo-correo">*</label>
                                    <input type="email" id="campo-correo" class="form-control bg-transparent p-6" placeholder="Correo" required>
                                </div>
                            </div>>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}