{% extends "layout.html" %}

{% block content %}
<div class="service-item position-relative">
    <h4 class="text-dark e font-weight-medium px-3">Mis Casas</h4>
    <div class="service-text">
        <h6 class="text-dark e font-weight-medium px-3">Estas con las casas que usted ha registrado:</h6>
    </div>
</div>

<div class="container">
    <div class="row" id="houses-container">
        Cargando...
    </div>
    <div class="row" style="margin-top: 30px;">
        <a href="addhome" class="btn btn-success d-lg-block">+ Agregar una nueva casa</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    // Validacion de seguridad
	const loggedUser = JSON.parse(localStorage.getItem('user-ecohome'));
	if (loggedUser.rol != "cliente") {
		localStorage.setItem('user-ecohome', null);
		window.location.href = "/";
	}

    $(document).ready(function () {

        // obtenemos la informacion del usuario del local storage
        const usuario = JSON.parse(localStorage.getItem('user-ecohome'));

        const identificacion = usuario.identificacion;

        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:5000/api/users/" + identificacion + "/houses",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function (response) {

                const houses = response;
                let content = "";

                if (houses) {
                    for (let index = 0; index < houses.length; index++) {
                        const home = houses[index];

                        content += "<div class='col-md-3 col-xs-2 col-sm-6 col-lg-3'> " +
                            "<img class='img-fluid' src='/static/img/eco-house-logo.png' alt='' width='180px' >" +
                            "<div class='service-wrapper'>" +
                            "<h3>Casa N° " + (index + 1) + "</h3>" +
                            "<p>" + home.nombre + "</p>" +
                            "<p><a href='detailshome?idCasa=" + home.nombre + "' class='btn btn-info text-center'><i class='fa fa-eye'></i> Ver</a></br>"+
                                "<span>Estado: " + home.estado + "</span>" +
                                "</p>" +
                            "</div>" +
                            "</div>";

                    }
                    $("#houses-container").html(content);
                } else {
                    $("#houses-container").html("No hay casas registradas");
                }


            },
            error: function (response) {
                console.log(response.responseJSON.message);
            }
        });
    });

</script>
{% endblock %}