{% extends "layout.html" %}

{% block content %}
<div class="service-item position-relative">
    <div class="service-text text-center">
        <h4 class="text-dark e font-weight-medium px-3">Seleccione la casa que desea visualizar</h4>
       
    </div>
</div>

<div class="container">
    <div class="row" id="houses-container">
        Cargando...
    </div>
    <div class="row" style="margin-top: 30px;">
        <a href="addhome" class="btn btn-primary d-lg-block pt-1">Agregar una nueva casa</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    
    $(document).ready(function () {
        
        const cedula = 1098313090;

        $.ajax({
          type: "GET",
          url: "http://127.0.0.1:5000/api/users/"+cedula+"/houses",
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          async: true,
          success: function (response) {
            
            const houses = response;
            let content = "";

            for (let index = 0; index < houses.length; index++) {
                const home = houses[index];

                content += "<div class='col-md-4 col-sm-6'> "+
                                "<img class='img-fluid' src='../img/eco-house-logo.png' alt=''>"+
                                "<div class='service-wrapper'>"+
                                    "<i class='icon-home'></i>"+
                                    "<h3>Casa N° "+(index + 1)+"</h3>"+
                                    "<p>"+home.nombre+"</p>" +
                                    "<a href='homes/"+home.nombre+"/' class='btn'><i class='fa fa-eye'></i> Ver</a>"+
                                "</div>"+
                            "</div>";
                
            }
            $("#houses-container").html(content);
            
          },
          error: function (response) {
            console.log(response.responseJSON.message);
          }        
        });
    });

</script>
{% endblock %}