{% extends "layout.html" %}

{% block content %}
<div class="service-item position-relative">
    <nav aria-label="breadcrumb px-5">
        <ol class="breadcrumb px-3">
            <li class="breadcrumb-item btn-ir-home"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/detailshome?idCasa={{idCasa}}">{{idCasa}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tomacorrientes</li>
        </ol>
    </nav>

    <h4 class="text-dark e font-weight-medium px-3">Tomacorrientes - {{idCasa}}</h4>
    <div class="service py-4 px-2">
        <h6 class="text-dark e font-weight-medium px-3">Estos son los tomacorrientes creados en la casa {{idCasa}}:
            <a href="/detailshome/{{idCasa}}/tomacorrientes/new" class="btn btn-success" style="float: right;">Agregar
                Tomacorriente</a>
        </h6>
    </div>
</div>

<div class="col-lg-12 py-2 px-4 p-lg-5">
    <table class='table table-responsive table-condensed table-bordered'>
        <thead>
            <tr>
                <th scope='col'># del Toma</th>
                <th scope='col'>Fecha Creación</th>
                <th scope='col'>Tipo</th>
                <th scope='col'>Ubicación (Zona)</th>
                <th scope='col'>Descripción Adicional</th>
                <th scope='col'>Estado</th>
                <th scope='col' width="100px">Opciones</th>
            </tr>
        </thead>
        <tbody id="list-container">
            <tr>
                <td colspan="7">Cargando...</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

    // Validacion de seguridad
    const loggedUser = JSON.parse(localStorage.getItem('user-ecohome'));
    if (loggedUser.rol != "cliente") {
        localStorage.setItem('user-ecohome', null);
        window.location.href = "/";
    }

    $(document).ready(function () {

        // obtenemos la informacion del usuario del local storage
        const usuario = JSON.parse(localStorage.getItem('user-ecohome'));

        const identificacion = usuario.identificacion;

        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:5000/api/users/" + identificacion + "/houses/{{idCasa}}/tomacorrientes",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function (response) {

                const registros = response;
                console.log(registros);
                let content = "";

                if (registros) {
                    for (let index = 0; index < registros.length; index++) {
                        const elemento = registros[index];
                        if (elemento) {

                            content += "<tr id='fila-" + elemento.index + "'> " +
                                "<td>" + (elemento.index || '') + "</td>" +
                                "<td>" + (elemento.fechaCreacion || '') + "</td>" +
                                "<td>" + (elemento.tipo || '') + "</td>" +
                                "<td>" + (elemento.zona || '') + "</td>" +
                                "<td>" + (elemento.descripcion || '') + "</td>" +
                                "<td>" + (elemento.estado || '') + "</td>" +
                                "<td>" +
                                "<a class='btn btn-sm btn-success mr-2 d-none' href='#'><i class='fa fa-edit'></i></a>" +
                                "<a class='btn btn-sm btn-danger eliminar' registro-id='" + elemento.index + "' href='#'><i class='fa fa-trash'></i></a>" +
                                "</td>" +
                                "</tr>";
                        }

                    }
                    $("#list-container").html(content);
                } else {
                    $("#list-container").html("<tr><td colspan='7'>No hay elementos registrados</td></tr>");
                }


            },
            error: function (response) {
                console.log(response.responseJSON.message);
            }
        });

        // Codigo para solicitar al api eliminar un tomacorriente
        $("#list-container").on("click", ".eliminar", function () {
            const idRegistro = $(this).attr("registro-id");

            bootbox.confirm({
                message: 'Desea eliminar este tomacorriente?',
                buttons: {
                    confirm: {
                        label: 'Si',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (eliminar) {
                    if (eliminar) {
                        $.ajax({
                            type: "DELETE",
                            url: "http://127.0.0.1:5000/api/users/" + identificacion + "/houses/{{idCasa}}/tomacorrientes/" + idRegistro,
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            async: true,
                            success: function (response) {
                                $("#fila-" + idRegistro).remove();
                            },
                            error: function (response) {
                                bootbox.alert(response.responseJSON.message);
                            }
                        });
                    }
                }
            });
        });
    });

</script>
{% endblock %}