<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title< /title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

    <!-- Barra de navegacion -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <a href="home" class="navbar-brand ml-lg-3">
                <h1 class="m-0 text-primary"><span class="text-dark">Eco</span> Home</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('periodo') }}">Periodo</a>
                    </li>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Paginas</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="factura" class="dropdown-item">Factura</a>
                            <a href="periodo" class="dropdown-item">periodo</a>
                        </div>

                    </div>
                    <a href="dcontacto" class="btn btn-primary d-none d-lg-block">Config</a>
                </ul>
            </div>
        </nav>
    </div>
    <!--  Footer de la barra de navegacion-->

    <!-- Menú de tomacorrientes -->

    <section class="vh-50 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">

                    <div class="bg-white shadow rounded">
                        <div class="row">
                            <div class="col-md-8 pe-0">
                                <div class="form-left h-100 py-5 px-5">
                                    <h3 class="mb-3">Crear detalles de su factura</h3>
                                    <form id="formulario-newhome" class="row g-4">
                                        <div class="col-12">
                                            <label>Nombre de la empresa de energía<span class="text-danger"
                                                    for="nombreenchufe">*</span></label>
                                            <input type="text" id="nombreenchufe" class="form-control"
                                                placeholder="Ingrese el nombre con el que va a llamar su tomacorriente"
                                                required="required">
                                        </div>



                                        <div class="col-12">
                                            <br>
                                            <label>Periodo facturado<span class="text-danger"
                                                    for="tipoenchufe">*</span></label>
                                                    <div>
                                                        <input type="date" name="periodofacturacion" id="periodofacturacion">
                                                    </div>
                                            <br>
                                        </div>


                                        <div class="col-12">
                                            <br>
                                            <label>Mes inicial<span class="text-danger"
                                                    for="tipoenchufe">*</span></label>
                                                    <div>
                                                        <input type="date" name="periodofacturacion" id="periodofacturacion">
                                                    </div>
                                            <br>
                                        </div>
                                            

                                            <!-- Lista desplegable -->
                                        
                                            <div class="col-12">
                                                <label>Precio del mes anterior<span class="text-danger"
                                                        for="nombreenchufe"> *</span></label>
                                                <input type="text" id="nombreenchufe" class="form-control"
                                                    placeholder="Ingrese el nombre con el que va a llamar su tomacorriente"
                                                    required="required">
                                            </div>


                                            

                                            


                                    

                                            <div class="col-12">
                                                <label>Consumo del mes (escribir en kWh, ejemplo: 86.2 kWh)<span class="text-danger"
                                                        for="nombreenchufe">*</span></label>
                                                <input type="text" id="nombreenchufe" class="form-control"
                                                    placeholder="Ingrese el nombre valor en kWh"
                                                    required="required">
                                            </div>

                                            <div class="col-12">
                                                <label>Nombre del mes<span class="text-danger"
                                                        for="nombreenchufe">*</span></label>
                                                <input type="text" id="nombreenchufe" class="form-control"
                                                    placeholder="Ingrese el nombre del mes"
                                                    required="required">
                                            </div>




                                        <div class="col-12">
                                            <form>
                                                <br>
                                                <button type="submit" id="btn-addhome"
                                                    formaction="/templates/layout.html"
                                                    class="btn btn-success px-4 float-end">Guardar</button>
                                                <br>
                                            </form>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4 ps-0 d-none d-md-block">
                                <div class="form-right h-100 bg-transparent text-black text-center pt-5">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-end text-secondary mt-3"></p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>