<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title< /title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

	<!-- Barra de navegacion -->
	<div class="container-fluid p-0">
		<nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
			<a href="home" class="navbar-brand ml-lg-3">
				<h1 class="m-0 text-primary"><span class="text-dark">Eco</span> Home</h1>
			</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto ms-auto">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('periodo') }}">Periodo</a>
					</li>
					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Paginas</a>
						<div class="dropdown-menu rounded-0 m-0">
							<a href="factura" class="dropdown-item">Factura</a>
							<a href="periodo" class="dropdown-item">periodo</a>
						</div>

					</div>
					<a href="dcontacto" class="btn btn-primary d-none d-lg-block">Config</a>
				</ul>
			</div>
		</nav>
	</div>
	<!--  Footer de la barra de navegacion-->

	<!-- Menú de tomacorrientes -->

	<div class="container">


		<form class="row mt-3 g-3 needs-validation">

			<div class="col-12">
				<label for="idtoma" class="form-label">ID del toma</label>
				<input type="text" class="form-control" id="idtoma" required>

				<div class="valid-feedback">
					Todo bien

					<div class="invalid-feedback">
						Es necesario poner el ID del toma

					</div>
				</div>

				<!-- Validacion del nombre del enchufe  -->

				<div>
					<div class="col-12">
						<label>Nombre <span class="text-danger" for="nombreenchufe">*</span></label>
						<input type="text" class="form-control" id="nombreenchufe" required>

						<div class="valid-feedback">
							Todo bien

							<div class="invalid-feedback">
								Es necesario poner el nombre del enchufe

							</div>
						</div>
					</div>

					<!-- Validacion tipo de enchufe -->

					<div class="col-12">
						<label>Tipo de enchufe <span class="text-danger" for="tipoEnchufe">*</span></label>
						<select class="form-control" id="tipoEnchufe" name="tipoEnchufe" required>
							<option value="">Seleccione un tipo de enchufe</option>
							<option value="A">A</option>
							<option value="B">B</option>
							<option value="C">C</option>
							<option value="D">D</option>
							<option value="E">E</option>
							<option value="F">F</option>
							<option value="G">G</option>
							<option value="H">H</option>
							<option value="I">I</option>
							<option value="J">J</option>
							<option value="K">K</option>
							<option value="L">L</option>
							<option value="M">M</option>
							<option value="N">N</option>
							<option value="O">O</option>
						</select>
					</div>


					<div class="valid-feedback">
						Todo bien

						<div class="invalid-feedback">
							Es necesario poner el tipo de enchufe

						</div>
					</div>



					<!-- Validacion electrodomestico -->

					<div class="col-12">
						<label>Tipo de electrodomestico<span class="text-danger" for="tipoElectrodomestico">*</span></label>
						<select class="form-control" id="tipoElectrodomestico" name="tipoElectrodomestico" required>
							<option value="">Seleccione un tipo de electrodomestico</option>
							<option value="Nevera">Nevera</option>
							<option value="Televisor">Televisor</option>
							<option value="Horno microondas">Horno microondas</option>
							<option value="Computador">Computador</option>
						</select>
					</div>


					<div class="col-12">
		
						

						<!-- Validacion de la ubicacion  -->

						<div class="col-12">
							<label>Ubicacion<span class="text-danger" for="ubicacion"> *</span></label>
						<select class="form-control" id="ubicacion" name="ubicacion" required>
							<option value="">Seleccione la ubicacion</option>
								<option value="Nevera">Sala</option>
								<option value="Televisor">Antesala</option>
								<option value="Computador">Cuarto</option>
								<option value="Horno microondas">Cocina</option>
								<option value="Computador">Patio</option>
							</select>
						</div>

						
						<div>
							<br>
							<button type="submit" class="btn btn-primary">Enviar</button>

						</div>

						<br>
						<label for="aviso">Los campos con  <span class="text-danger">*</span> son obligatorios
						
					</label>
					</div>

		</form>

	</div>


	<!-- Validacion con JS -->

	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');
					}, false);
				});
			}, false);
		})();
	</script>








</body>

</html>