{% extends "layout.html" %}

{% block content %}
<div class="service-item">
    <div class="service py-2 px-2">
        <nav aria-label="breadcrumb px-5">
            <ol class="breadcrumb px-3">

                <li class="breadcrumb-item btn-ir-home"><a href="/admin/home">Sistema Administrativo</a></li>
                <li class="breadcrumb-item"><a href="/admin/settings">Configuraciones</a></li>
                <li class="breadcrumb-item"><a href="/admin/settings/paises">Paises</a></li>
                <li class="breadcrumb-item">{{pais}}</li>
                <li class="breadcrumb-item active" aria-current="page">Departamentos</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row col-lg-12 py-2 px-2 p-lg-5">
    <form id="form-departamentos">

        <table class='table table-responsive table-condensed table-bordered'>
            <thead>
                <tr>
                    <th scope='col'>Departamento</th>
                    <th scope='col'>Ciudades</th>
                    <th scope='col'>Opciones</th>
                </tr>
            </thead>
            <tbody id="list-container">
                <tr><td colspan="3">Cargando..</td></tr>
            </tbody>
        </table>
        <div class="col-lg-12">
            <a href="javascript: void(0);" id="btn-agregar" style="float: left;" class="btn btn-sm btn-success">+</a>
            <button type="submit" value="Guardar" id="btn-guardar" style="float: right;"
                class="btn btn-sm btn-success">Guardar Cambios</button>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

    // Validacion de seguridad
	const loggedUser = JSON.parse(localStorage.getItem('user-ecohome'));
	if (loggedUser.rol != "admin") {
		localStorage.setItem('user-ecohome', null);
		window.location.href = "/";
	}

    $(document).ready(function () {

        const tipoSettings = "paises/{{pais}}/departamentos";
        let cantidadRegistros = 0;
        let cantidadOriginalDeRegistros = 0;
        let departamentos = null;

        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:5000/api/settings?tipo=" + tipoSettings.toLocaleLowerCase(),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function (response) {

                departamentos = response;
                console.log("data inicial", departamentos);
                let content = "";

                for (const key in departamentos) {
                    if (Object.hasOwnProperty.call(departamentos, key)) {
                        cantidadRegistros += 1;
                        const departamento = departamentos[key];
                        const cantCiudades = departamento["ciudades"] ? Object.keys(departamento["ciudades"]).length : 0;

                        content += "<tr id='tipo-" + cantidadRegistros + "'><td><input type='text' class='form-control' id='campo-nombre-" + cantidadRegistros + "' required readonly disabled placeholder='Nombre del Departamento' value='" + (departamento.nombre || "") + "'/> </td> " +
                            "<td><span>" + cantCiudades + "</span></td>" +
                            "<td>" +
                            "<a class='btn btn-sm btn-success mr-2' href='/admin/settings/paises/{{pais}}/departamentos/" + departamento.nombre + "/ciudades' title='Ver Ciudades'><i class='fa fa-list'></i></a>";

                        if (cantCiudades == 0) {
                            content += "<a class='btn btn-sm btn-danger eliminar' tipo-id='" + cantidadRegistros + "'><i class='fa fa-trash'></i></a>";
                        }
                        content += "</tr>";
                    }
                }
                cantidadOriginalDeRegistros = cantidadRegistros;

                $("#list-container").html(content);

            },
            error: function (response) {
                console.log(response.responseJSON.message);
            }
        });

        // Evento para agregar al final de la tabla una nueva fila con los campos de un  nuevo registro
        $("#btn-agregar").click(function () {
            cantidadRegistros += 1;
            const content = "<tr id='tipo-" + cantidadRegistros + "'><td><input type='text' class='form-control' id='campo-nombre-" + cantidadRegistros + "' required placeholder='Nombre del Departamento' value=''/> </td> " +
                "<td><span>0</span></td>" +
                "<td><a class='btn btn-sm btn-danger eliminar' tipo-id='" + cantidadRegistros + "'><i class='fa fa-trash'></i></a></td></tr>";

            $("#list-container").append(content);

        });

        // Evento para eliminar la fila seleccionada con los campos de un registro
        $('#list-container').on('click', 'a.eliminar', function () {
            const eliminar = confirm("Desea eliminar este elemento?");

            if (eliminar) {
                const idEliminar = "tipo-" + $(this).attr("tipo-id");
                $("#" + idEliminar).remove();
                cantidadRegistros -= 1;
            }
        });

        // Evento para guardar los cambios en los registros
        $("#form-departamentos").submit(function (evento) {
            evento.preventDefault();
            let data = {};

            for (let index = 1; index <= cantidadRegistros; index++) {
                const nombre = $("#campo-nombre-" + index).val();
                const key = nombre ? nombre.toLowerCase().replaceAll(" ", "_") : "";
                if (key in departamentos) {
                    data[key] = departamentos[key];
                    data[key]["nombre"] = nombre;
                } else if (nombre) {
                    data[key] = { nombre, ciudades: {} };
                }
            }


            let ruta = tipoSettings;
            if (cantidadOriginalDeRegistros == 0) {
                ruta = "paises/{{pais}}";
                data = {
                    nombre: "{{pais}}",
                    departamentos: data
                }
            }

            console.log("data final", data);

            // Deshabilitamos el botón de guardado
            $("#btn-guardar").attr("disabled", true);
            $("#btn-guardar").html("Espere..");

            $.ajax({
                type: "PUT",
                url: "http://127.0.0.1:5000/api/settings?tipo=" + ruta.toLocaleLowerCase(),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                async: true,
                success: function (response) {
                    if (response.message) {
                        alert(response.message);
                        window.location.href = "/admin/settings/paises";
                    }
                },
                error: function (response) {
                    alert("Error: " + response.responseJSON.message);
                    // Habilitamos nuevamente el botón de guardado
                    $("#btn-guardar").attr("disabled", false);
                    $("#btn-guardar").html("Guardar Cambios");
                }
            });

        });
    });

</script>
{% endblock %}