{% extends "layout.html" %}

{% block content %}
<div class="card">
	<div class="card-header">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item btn-ir-home"><a href="#">Sistema Administrativo</a></li>
				<li class="breadcrumb-item active" aria-current="page">Configuraciones</li>
			</ol>
		</nav>

		<div class="card-body">
			<div class="card-footer">

				<div class="row">
					<div class="col-sm-6">
						<div class="card">
							<div class="card-body">
								<center>
									<i class="fa fa-globe"></i>
									<p class="card text-center">Paises</p>
									<a href="#" class="btn btn-success" style="position: static;">Ver Paises</a>
								</center>
							</div>
						</div>
					</div>

					<div class="card w-50">
						<div class="card-body">
							<center>
								<i class="fa fa-plug"></i>
								<p class="card text-center">Tipos de Tomacorrientes</p>
								<a href="/admin/settings/tiposTomacorriente" class="btn btn-success">Ver Tipos de Tomacorrientes</a>
							</center>
						</div>
					</div>


					<div class="col-sm-6">
						<div class="card">
							<div class="card-body">
								<center>
									<i class="fa fa-thumb-tack"></i>
									<p class="card text-center">Zonas de las Casas</p>
									<a href="#" class="btn btn-success">Ver Zonas de la Casa</a>
								</center>
							</div>
						</div>

					</div>

					<div class="col-sm-6">
						<div class="card">
							<div class="card-body">
								<center>
									<i class="fa fa-leaf"></i>
									<p class="card text-center">Tipos de Eficiencia</p>
									<a href="#" class="btn btn-success">Ver Tipos de Eficienia</a>
								</center>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}